body {
	visibility: hidden;
}

.jasmine_html-reporter {
	border-bottom: 10px solid #A6B779;
	padding-bottom: 20px;
	visibility: visible;
}

ul.specs li {
padding-left: 8px;
}
.suite {
	padding-left: 10px !important;
}

/* Expand/Collapse Toolbar and +/- triggers */
.jasmine-tree-toolbar {
	margin-left: 30px;
}

.jasmine-tree-button,
a.jasmine-tree-trigger {
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.jasmine-tree-button,
a.jasmine-tree-trigger:hover {
	text-decoration: none;
}

.summary {
	box-sizing: border-box;
}

.summary > .suite {
	border-left: 0 !important;
}

.summary > .suite:before,
.summary > .suite:after {
	border-left: 0 !important;
	border-bottom: 0 !important;
}

.jasmine_html-reporter .summary ul.suite {
	padding-bottom: 0;
	padding-top: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

ul.suite {
	position: relative;
}

ul.suite.jasmine-tree-opennode {
	border-left: 1px dotted #333;
}


ul.suite::before,
ul.suite.jasmine-tree-opennode:last-child::before {
	border-bottom: 1px dotted #333;
	height: 21px;
	top: 0;
}
ul.suite::before,
ul.suite.jasmine-tree-opennode:last-child::before,
ul.suite::after {
	border-left: 1px dotted #333;
	content: "";
	left: 0;
	position: absolute;
	width: 8px;
}
ul.suite.jasmine-tree-opennode::before,
ul.suite.jasmine-tree-opennode::after {
	border-left: 0 none;
}
ul.suite::before,
ul.suite.jasmine-tree-opennode:last-child::before {
	border-bottom: 1px dotted #333;
	height: 21px;
	top: 0;
}
ul.suite::before,
ul.suite.jasmine-tree-opennode:last-child::before,
ul.suite::after {
	border-left: 1px dotted #333;
	content: "";
	left: 0;
	position: absolute;
	width: 8px;
}
ul.suite.jasmine-tree-opennode::before,
ul.suite.jasmine-tree-opennode::after {
	border-left: 0 none;
}
ul.suite.jasmine-tree-opennode:last-child,
ul.suite:last-child::after {
	border: 0 none;
}
ul.suite::after {
	height: 7px;
	top: 22px;
}
ul.suite::before,
ul.suite.jasmine-tree-opennode:last-child::before,
ul.suite::after {
	border-left: 1px dotted #333;
	content: "";
	left: 0;
	position: absolute;
	width: 8px;
}
ul.suite.jasmine-tree-opennode:last-child,
ul.suite:last-child::after {
	border: 0 none;
}