body {
	visibility: hidden;
}

.jasmine_html-reporter {
	border-bottom: 10px solid #A6B779;
	padding-bottom: 20px;
	visibility: visible;
}

.jasmine_html-reporter .suite > .suite {
	padding-left: 25px;
}

.luga-jasmine-toolbar {
	margin-left: 30px;
}

.luga-jasmine-button,
a.luga-jasmine-trigger {
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.luga-jasmine-button,
a.luga-jasmine-trigger:hover {
	text-decoration: none;
}