/* Barebone reset */
.dl, .dt, .dd, .ol, .ul, .li,
.fieldset, .form, .label, .legend {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* HTML5 elements */
.article, .aside,.details, .figcaption, .figure,
.footer, .header, .hgroup, .menu, .nav, .section {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #F1F1F1;
	box-sizing: border-box;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 1em;
}

td {
	vertical-align: top;
}

form,
h1 {
	border: 0.1em solid #7C93BA;
	border-radius: 0.4em;
	padding: 2em;
}

form h1 {
	background: #FFFFFF;
	color: #3362B4;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.5em;
	margin-left: 1em;
	margin-top: -2.7em;
	padding: 0.3em 1em;
	white-space: nowrap;
	width: 50%;
}