form {
	font-size: 1.1em;
}

input,
textarea {
	background: #E8E7DF;
	border: 0.2em solid #7C93BA;
	border-radius: 0.4em;
	margin-bottom: 1em;
	margin-top: 0.3em;
	padding: 0.3em;
}

input.invalid,
textarea.invalid {
	background-color: #FFE813;
	border: 0.2em #BB0000 solid;
}

input.invalid:focus,
textarea.invalid:focus {
	background-color: #FFE813;
	border: 0.2em #BB0000 solid;
}

input:focus,
textarea:focus {
	background-image: none;
	border: 0.2em #BB0000 solid;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"].invalid,
input[type="radio"].invalid,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
	background: none;
	border: 0;
}

input[type="submit"] {
	background-color: #6E86D4;
	border: 0.1em solid #7C93BA;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1.1em;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	padding: 0.2em 1em;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	color: #EDEBDA;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

input[data-luga-required="true"] {
	background-image: url("required.png");
	background-position: right center;
	background-repeat: no-repeat;
}

form,
div.luga_error_message {
	max-width: 800px;
	min-width: 400px;
}

div.luga_error_message {
	background-color: #FFE813;
	border: 0.2em #BB0000 solid;
	border-radius: 0.4em;
	margin-bottom: 3em;
}

div.luga_error_message em {
	font-weight: bold;
}

td.boxes label {
	display: block;
}

td.boxes label input {
	margin-right: 0.5em;
}