<table class="table table-bordered table-striped">
	<th>
		First Name
	</th>
	<th>
		Last Name
	</th>
	<th>
		Country
	</th>
	{{#each entities}}
	<tr>
		<td>{{firstName}}</td>
		<td>{{lastName}}</td>
		<td>{{country}}</td>
	</tr>
	{{/each}}
</table>