html, body.luga-docs {
	background-color: #F1F1F1;
	box-sizing: border-box;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/* List reset */
dl, dt, dd, ol, ul, li {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Main navigation */

.luga-docs .navbar {
	background-color: #FFFFFF;
	border: 0.1em solid #7C93BA;
	box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.luga-docs .navbar a,
.luga-docs .navbar-brand a,
.luga-docs .navbar-default a {
	color: #3362B4 !important;
	font-weight: 700;
}

.luga-docs .navbar-default .navbar-nav > .active > a{
	background: #7C93BA;
	color: #FFFFFF !important;
	text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.luga-docs .navbar-default .navbar-nav > li > a:hover {
	text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.luga-docs .dropdown-menu > .active > a  {
	color: #FFFFFF !important;
}

/* Local navigation */

.luga-docs .luga-nav-local .list-group {
	border: 0.1em solid #7C93BA;
	box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25)
}

.luga-docs .luga-nav-local .list-group {
	border-radius: 4px;
}

.luga-docs .luga-nav-local .list-group .list-group-item {
	border-left: none;
	border-right: none;
}

.luga-docs .luga-nav-local .list-group li.luga-docs-list-heading {
	background: #7C93BA;
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	margin: 0;
	padding: 0.3em 3em;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.luga-docs .luga-nav-local .list-group a {
	background-color: #FFFFFF;
	display: block;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.luga-docs .luga-nav-local .list-group a:before {
	content: ":: ";
}

/* Panels */

.luga-docs .panel-default {
	border: 0.1em solid #7C93BA;
	box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25)
}

.luga-docs .panel-heading {
	background-color: #FFFFFF;
	border-bottom: 0.1em solid #7C93BA;
	color: #3362B4;
	font-weight: 700;
}

.luga-docs .panel {
	background-color: #EBEBEB;
}

/* Code listings */
pre,
pre code {
	background-color: #F9F9F9 !important;
}

/* List */

ul.luga-docs-list,
ol.luga-docs-list {
	margin-bottom: 1em;
	margin-top: 1.5em;
}

ul.luga-docs-list li,
ol.luga-docs-list li {
	margin-left: 1em;
	padding-bottom: 0.5em;
}

ul.luga-docs-list li {
	list-style: disc outside none;
}

ol.luga-docs-list li {
	list-style: decimal outside none;
}

/* Table with attributes syntax */

table.luga-docs-attributes {
	background: #7C93BA;
	border-radius: 0.4em;
	box-shadow: rgba(0, 0, 0, .25) 0.15em 0.15em 0.15em;
	width: 100%;
}

table.luga-docs-attributes th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.8em;
	text-align: left;
}

table.luga-docs-attributes td {
	background: #EBEBEB;
	color: #494949;
	font-weight: 600;
	padding: 0.8em;
	white-space: nowrap;
	width: 25%;
}

table.luga-docs-attributes td + td {
	background: #FCFCFC;
	font-weight: normal;
	white-space: normal;
	width: 75%;
}

table.luga-docs-attributes td p {
	margin-top: 0;
}