input.invalid,
textarea.invalid {
	background-color: #FFE813;
	border: 0.2em #BB0000 solid;
}

input.invalid:focus,
textarea.invalid:focus {
	background-color: #FFE813;
	border: 0.2em #BB0000 solid;
}

input[data-lugavalidator-required="true"] {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMS8xNy8xM1SlnbgAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAd0lEQVQokZ2RsQ3EMAwD+UA2yAipfguP4c5LZI6soWncMuNcCr9dK09AoFSIEiUBAuQILDHrbMit4d4BNAUcga8rJSbvO5bweQ4+jsGt5QQAuffRJOFSXtnQmjw3mRGRtCAtv+sGpaQ3Wcm/X9j0w7fWzy2hl3gAQWQ8dqrxAyYAAAAASUVORK5CYII=');
	background-position: right center;
	background-repeat: no-repeat;
}

div.luga-message,
div.luga-error-message {
	border-radius: 0.4em;
	box-shadow: rgba(0, 0, 0, .25) 0.15em 0.15em 0.15em;
	margin-bottom: 3em;
	padding: 1em 2em;
}

div.luga-message {
	background-color: #FFFFFF;
	border: 0.1em solid #7C93BA;
	color: #3362B4;
}

div.luga-error-message {
	background-color: #FFE813;
	border: 0.1em #BB0000 solid;
	color: #333333;
}

div.luga-error-message em {
	font-weight: bold;
	padding-right: 0.5em;
}